@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

body {
  background-color: white;
  margin: 0;
}
.div {
  margin-top: 15vh;
  text-align: center;
}

.title_h1 {
  color: #5b5e4a;
  font-family: 'IBM Plex Sans KR';
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}

.Icon {
  position: absolute;
  top: 12vh;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  position: relative;
}

.input_cont {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.input {
  display: flex;
  font-family: 'IBM Plex Sans KR';
  font-size: 20px;
  width: 40vw;
  height: 10vh;
  border-radius: 20px;
  border: 2px solid #8e98a8;
  padding-left: 2vw;
  gap: 5vh;
}

.btn {
  width: 20vw;
  height: 10vh;
  margin: 5vh 3vw 2vh 3vw;
  border-radius: 20px;
  border: 1px solid #5b5e4a;
  background: #5b5e4a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #f9ffe4;
  font-family: 'IBM Plex Sans KR';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn:hover {
  cursor: pointer;
  background: #474a39;
  color: #5b5e4a;
}

.signup {
  color: #898989;
  text-align: center;
  font-family: 'IBM Plex Sans KR';
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  height: 76px;
  text-align: center;
}
