@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

.div {
  margin-top: 25vh;
  text-align: center;
}

.title {
  color: #e9ebf8;
  text-shadow: 0px 20px 10px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 220px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
}

.title_div {
  position: relative;
  display: inline-block;
}

.Leaf {
  position: absolute;
}

.title_T {
  position: relative;
  color: #b7bd94;
  font-family: Inter;
  font-size: 220px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.sub_FR {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
  margin: 0;
}

.sub_KR {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 1vh;
}

.pot_cont {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  align-items: center;
}

.pot {
  height: auto;
}
